@import "tailwindcss";

:root {
  --green-600: #009B45; /* Main sidebar color */
  --green-700: #077F3F; /* Active/hover state */
  --green-800: #005A2E; /* Darker state for buttons */
  --green-900: #045C2B; /* Text color for "TEA" */
  --white: #F6F6F6; /* Text color for page background */
}

body {
    @apply bg-green-600;
}


.bg-green-600 {
  background-color: var(--green-600);
}

.bg-green-700 {
  background-color: var(--green-700);
}

.bg-green-800 {
  background-color: var(--green-800);
}

.bg-green-900 {
  background-color: var(--green-900);
}

.text-green-600 {
  color: var(--green-600);
}